*{
    margin: 0;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3OUfSkYQ5w5S2GkT2-5W9eG9LJA0kqNYJ9A&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    width:100vh;
    display: flex;
    flex-direction: column;
    
}
#one{
    width:100vh;
}
#para p{
    font-size: 40px;
    
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    transition: 1s ease linear;
   
}
#p:hover{
    transform: translateY(15px);
    transform: scale(4px);
    
}
#taketest{
    /* text-align: right; */
    position: relative;
    top: 450px;
    left: 1000px;}
/* blue */
#table,th{
    border:2px solid black ;
    border-collapse: collapse;
}
#table th{
    padding: 10px;
    
}
#table{
    width: 500px;

}
#two{
    margin-top: 40px;
    margin-left: 20px;
}
#two div p{
margin-bottom: 30px;
font-size: 40px;
}
#continue{
    position: relative;
    top: 200px;
    left: 1200px;
    padding: 20px;
    background-color: black;
    color: white;
}
#three{
    
    margin-top: 200px;
    margin-left: 100px;

}
.subject{
    font-size: 40px;
}
.button{
    background-color: green;
    color: white;
    width: 150px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
}
#three{
    background-image: none;
}
#round{
    border: 2px solid black;
    /* border-radius:50%;
    padding: 50px; */
    background-color: crimson;
    width: 100px;
    height: 60px;
    text-align: center;
}
#round:hover{
    cursor: pointer;
    transform: translate(4px,4px);
}
#para4{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}
#four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: none;
}
#me{
    border-radius:50%;
    background-color: black;
    padding: 10px;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#ro1{
    border-radius:50%;
    background-color:crimson;
    padding: 10px;
}
#round{
    font-size: 50px;
}
/* #me{
    display: flex;
    flex-direction: row;
    font-size: 50px;
} */
#sc{
    border: 2px solid black;
    /* border-radius:50%;
    padding: 50px; */
    background-color: crimson;
    width: 100px;
    height: 60px;
    text-align: center;
    position: relative;
    left: -2px;
    font-size: 50px;
}
#key{
    margin-top: 200px;
    margin-left: 900px;
}
#ro1{
    margin-top: 0px;
}
#close{
   position: fixed;
   top: 10px;
   left: 1300px;
   
}
#closebtn{
    padding: 5px;
}
#keybtn{
    padding: 10px;
}
#five{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-image: none;
    justify-content: center;
    align-items:flex-start;
    position: absolute;
    scroll-behavior: smooth;
    top: 1px;
    width: 1000px;
   
    text-align: left;
}
.blue{
    color: blue;
}
.fa-circle-xmark{
    position: relative;
    left:970px;
    font-size: 30px;
}
#six{
    display: flex;
    justify-content: center;
    align-content: center;

}
#flex{
display: flex;
flex-direction: row;
}